@import (reference) "utils.less";
/*/////////////////////////////////////////////////////////////////////////////////////////////////
// Navbar Styling
//////////////////////////////////////////////////////////////////////////////////////////////////*/



.nav-bar {
  position: relative;
  letter-spacing: 0.2em;
//  background: rgb(56,180,73); /* Old browsers */


  background: rgba(56,187,73,1); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 15%, rgba(56,187,73,1) 40%, rgba(56,187,73,1) 40%, rgba(56,187,73,1) 60%, rgba(255,255,255,1) 85%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(15%,rgba(255,255,255,1)), color-stop(40%,rgba(56,187,73,1)), color-stop(40%,rgba(56,187,73,1)), color-stop(60%,rgba(56,187,73,1)), color-stop(85%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 15%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 60%,rgba(255,255,255,1) 85%);  
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 15%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 60%,rgba(255,255,255,1) 85%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 15%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 60%,rgba(255,255,255,1) 85%); /* IE10+ */
  background: linear-gradient(135deg, rgba(255,255,255,1) 15%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 60%,rgba(255,255,255,1) 85%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 > div {
    margin: 0;
    height: 40px;
    img {
      width: 50px;
      padding: 0px 10px;
    }

    @media screen and (min-width:@screen-sm-min) {
      height: 60px;
    
    }

  }
  

  margin: 20px 0;
}




#bells-wrapper {
  display: none;
  img {
    height: 200px;
  }
  @media screen and (min-width:@screen-sm-min) {
    display: inline-block;
    margin-top: -20px;
    margin-left: 50px;
  }
}

#bells-wrapper {
  .rotate;
}




#social-icons {
  @height: 40px;
  @padding-x: 5px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
//  height: @height;
  opacity: 0.9;
  background: @green;
  z-index: 999;
  font-size: 0;
  @media screen and (min-width:@screen-sm-min) {
    width: auto;
  }
  @media screen and (min-width:@screen-lg-min) {
    bottom:20px;
  }
  .msg-wrapper {
    text-align:center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    padding: 5px;
    color: @white;
    display: none;
    vertical-align: middle;
    @media screen and (min-width:320px) {
      display: inline-block;
    }
  }

  
  .icon-wrapper {
    display: none;
    @media screen and (min-width: 320px) {
      display: inline-block;      
    }
    a {
      display: inline-block;
      height: @height;
      line-height: @height;
      padding: 0px @padding-x;
    }
    a:hover {
      .shake;
    }
    img {
     width: 20px;
    }
    @media screen and (min-width:@screen-sm-min) {
      a {
        padding: 0px 8px;
      }
      img {
        width: 25px;
      }
    }
 }
  #nav-social-recommends {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    @media screen and (min-width:320px) {
      padding: 0;
      margin-left: @padding-x;
    }
    .fb-like {
      width: 50px !important;
      height: @height;
      padding-top: (@height / 4);      
    }
    .fb-like, .social-button-wrapper {
      display: inline-block !important;
      vertical-align: middle;
    }
    .social-button-wrapper {
      margin-left: 20px;
      padding-right: (@padding-x * 2);
      @media screen and (min-width:320px) {
        padding-right:(@padding-x * 2);
        margin-left: 20px;
      }

    }
  }
}

#logos {
  position: relative;
  background: url('../img/bg-eco2.jpg') center center;
  background-size: cover;
  height:80px;
  line-height: 30px;
  text-align: right;  

  #ecologo {
    display: inline-block;
    width: 80px;
    margin-top: 20px;
    margin-right: 15px;
    vertical-align: middle;
  }

  @media screen and (min-width: 320px) {
    height: 180px;
    line-height: 180px;
    #ecologo {
      width: 100px;
      margin-top: 50px;
    }
  }
  @media screen and (min-width:@screen-sm-min)  {
    height: 300px;
    line-height: 300px;
    background: url('../img/bg-eco2.jpg') center center;
    background-size: cover;

    #ecologo {
      margin-top: 70px;
      width: 200px;
    }
  }

  @media screen and (min-width:@screen-lg-min) and (min-height:@screen-height-wide) {
    height:400px;
    line-height: 400px;
  }
}


#contact-bar {
  position:relative;
  z-index: 15;
}

#store-bar {

  @media screen and (min-width:@screen-sm-min) {
   margin-top: 50px;    
  }
  @media screen and (min-width:@screen-md-min) {
   margin-top: 25px;    
  }


}


#nuayre-logo {
  z-index: 30;
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -70px;
  img {
    width: 150px;
  }
  @media screen and (min-width:320px) {
    top: -40px;
    margin-left: -125px;
    img {
      width: 250px;
    }
  }
  @media screen and (min-width:@screen-sm-min) {
    margin-left: -150px;
    top: -30px;
    img {
      width: 300px;
    }
  }
  @media screen and (min-width:@screen-md-min) {
    margin-left: -150px;
    top: -30px;
    img {
      width: 300px;
    }
  }

  @media screen and (min-width:@screen-lg-min) {
    margin-left: -150px;
    top: -30px;
    img {
      width: 300px;
    }
  }

}

