@import (reference) "utils.less";
/*/////////////////////////////////////////////////////////////////////////////////////////////////
// Navbar Styling
//////////////////////////////////////////////////////////////////////////////////////////////////*/



.nav-bar {
  position: relative;
  letter-spacing: 0.2em;
//  background: rgb(56,180,73); /* Old browsers */


  background: rgba(56,187,73,1); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 15%, rgba(56,187,73,1) 40%, rgba(56,187,73,1) 40%, rgba(56,187,73,1) 60%, rgba(255,255,255,1) 85%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(15%,rgba(255,255,255,1)), color-stop(40%,rgba(56,187,73,1)), color-stop(40%,rgba(56,187,73,1)), color-stop(60%,rgba(56,187,73,1)), color-stop(85%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 15%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 60%,rgba(255,255,255,1) 85%);  
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 15%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 60%,rgba(255,255,255,1) 85%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 15%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 60%,rgba(255,255,255,1) 85%); /* IE10+ */
  background: linear-gradient(135deg, rgba(255,255,255,1) 15%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 40%,rgba(56,187,73,1) 60%,rgba(255,255,255,1) 85%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  h2 {
    margin: 0;
    padding: 20px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    &:extend(#navbar h1);
    font-size: 4em;
    font-weight: 300;
    @media screen and (min-width:@screen-sm-min) {
      font-size: 2.5em;
      padding: 30px 10px;
    }
    text-align: center;
  }
  
  margin: 20px 0;
}




#bells-wrapper {
  display: none;
  img {
    height: 200px;
  }
  @media screen and (min-width:@screen-sm-min) {
    display: inline-block;
    margin-top: -20px;
    margin-left: 50px;
  }
}

#bells-wrapper {
  .rotate;
}





#logos {
  background: url('../img/bg-eco2.jpg') center center;
  background-size: cover;
  height:230px;
  line-height: 230px;
  text-align: right;
  padding-right: 20px;
  
  img {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
  }
    
  @media screen and (min-width:@screen-sm-min)  {
    height: 300px;
    line-height: 300px;
    background: url('../img/bg-eco2.jpg') center center;
    background-size: cover;
    #itilogo {
      display: none;
    }
    img {
      width: 200px;
    }

  }

  @media screen and (min-width:@screen-lg-min) and (min-height:@screen-height-wide) {
    height:400px;
    line-height: 400px;
  }
}


#contact-bar {
  position:relative;
  z-index: 15;
}

#store-bar {

  @media screen and (min-width:@screen-sm-min) {
   margin-top: 50px;    
  }
  @media screen and (min-width:@screen-md-min) {
   margin-top: 25px;    
  }


}


#iti-logo {
  z-index: 30;
  position: absolute;
  left: 50%;
  top: -40px;
  margin-left: -125px;
  img {
    width: 250px;
  }
  
  @media screen and (min-width:@screen-sm-min) {
    margin-left: -150px;
    top: -30px;
    img {
      width: 300px;
    }
  }
  @media screen and (min-width:@screen-md-min) {
    margin-left: -150px;
    top: -30px;
    img {
      width: 300px;
    }
  }

  @media screen and (min-width:@screen-lg-min) {
    margin-left: -150px;
    top: -30px;
    img {
      width: 300px;
    }
  }

}


/* img {
  }

  @media screen and (min-height: 481px) {

  }

  @media screen and (min-width:@screen-xs-min) {
  }

  @media screen and (min-width: @screen-sm-min) {
  }

  @media screen and (min-width:@screen-md-min) {
  }

  @media screen and (min-width:@screen-lg-min) and (min-height:@screen-height-wide) {
  }

*/


.navbar-mini {
  padding: 0 !important;
  margin-bottom: 0 !important;
  opacity: 0.8;

  @media screen and (min-width:@screen-sm-min) {
    font-size: 6px !important;
  }

  @media screen and (min-width:@screen-md-min) {
    font-size: 5px !important;
  }
  @media screen and (min-width:@screen-lg-min) and (min-height:@screen-height-wide) {
    font-size: 6px !important;
  }
}
